@model IEnumerable<FlyCustomer>

@{
  ViewData["Title"] = "Home Page";
}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="bg-success text-white text-center">CONFIRMED FLIGHT ITINERARY.</h3>
    </div>
    @* <div class="col-12 mt-2">
      <table class="table table-hover table-responsive table-striped table-bordered">
      <thead>
      <tr class="text-center">
      <th scope="col"><i class="fas fa-plane-departure"> Departures</i></th>
      <th scope="col"><i class="fas fa-plane-arrival"> Arrivals</i></th>
      <th scope="col"><i class="fas fa-plane"> AirLine</i></th>
      <th scope="col"><i class="fas fa-route"> Route</i></th>
      <th scope="col"><i class="fas fa-user"> Passenger</i></th>
      <th scope="col"><i class="fas fa-map-marker-alt"> Localizer</i></th>
      <th scope="col"><i class="fas fa-phone-volume"> Contact</i></th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-active">
      <th scope="row">Active</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      </tr>
      <tr>
      <th scope="row">Default</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      </tr>
      <tr class="table-primary">
      <th scope="row">Primary</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      </tr>
      <tr class="table-secondary">
      <th scope="row">Secondary</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      </tr>
      <tr class="table-success">
      <th scope="row">Success</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      </tr>
      <tr class="table-danger">
      <th scope="row">Danger</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      </tr>
      <tr class="table-warning">
      <th scope="row">Warning</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      </tr>
      <tr class="table-info">
      <th scope="row">Info</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      </tr>
      <tr class="table-light">
      <th scope="row">Light</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      </tr>
      <tr class="table-dark">
      <th scope="row">Dark</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      </tr>
      </tbody>
      </table>
      </div> *@
    @foreach (var data in Model)
    {
      <div class="col-md-6 mt-1">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <span>PASSANGER: @data.IdCustomerNavigation.FullName</span> <span class="text-end">TEL:
              @data.IdCustomerNavigation.Contact</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">ROUTE: @data.Route ==> LOCALIZER: @data.Localizer</h5>
            <p class="card-text">DEPARTURE: @data.Departures</p>
            <p class="card-text">ARRIVALS: @data.Arrivals</p>
            <a href="#" class="btn btn-primary">FILL FORM</a>
          </div>
          <div class="card-footer text-muted">
            @data.IdAerolineaNavigation.AeroDescription
          </div>
        </div>
      </div>
    }


  </div>
</div>
